{% extends "./base.html" %}
{% load static %}


{% block content %}
{% include "blog/partials/narbar.html" %}
<br>
<h4>Create a post</h4>
<div class="mb-3">
        <form>
            <input type="text" id="username" placeholder="username">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="text" id="title" class="form-control" placeholder="title">
            <textarea id="text" placeholder="text" class="form-control"></textarea>
            <button class="btn btn-secondary">Submit</button>
        </form>
</div>
<script src="{% static 'js/main.js' %}" data-csrf="{{csrf_token}}"></script>
{% endblock content %}