<header class="showcase">
    <div class="container">
        <div class="text-content">
            <p class="sports-category">arts</p>
            <h1>some art article</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
                temporibus nesciunt in aut facilis optio eum, et nisi obcaecati
                accusamus reprehenderit iste facere nobis, qui eaque totam,
                laboriosam sequi animi?
            </p>
            <a href="/article/">Read More</a>
        </div>
    </div>
</header>