{% load static %}
<section>
    <div class="container">
        <h1 class="editor-h1">Editor Picks</h1>
        <div class="articles">
            {% for obj in queryset %}
            <a href="./html/article.html" class="card">
                <img src="{{obj.image.url}}" alt="" />
                <article>
                    <p class="{{ obj.category|lower }}-category">{{obj.category|capfirst}}</p>
                    <h1>{{ obj.title|title }}</h1>
                    <p>
                        {{ obj.text }}
                    </p>
                </article>
            </a>
            {% endfor %}
        </div>
    </div>
</section>